.App {
  text-align: center;
  font: 15px/24px "Lato", Arial, sans-serif;
  padding-top: 30px;
}

.input-wrapper {
  position: relative;
  width: 200px;
}

input:focus{outline: none;}
input[type="text"]{font: 15px/24px "Lato", Arial, sans-serif; color: #333; width: 250px; box-sizing: border-box; letter-spacing: 1px;}
.input-effect {border: 0; padding: 7px 0; border-bottom: 1px solid #ccc;}
.input-effect ~ .focus-border{position: absolute; bottom: 0; left: 0; width: 0; height: 2px; background-color: #4caf50; transition: 0.4s;}
.input-effect:focus ~ .focus-border{width: 250px; transition: 0.4s;}

.button {
  display: block;
  width: 100px;
  background-color: #008CBA;
  padding: 20px 28px;
  color: white;
  text-decoration: none;
  margin-top: 20px;
}