.Chat .chat-menu {
  position: fixed;
  bottom:0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

.Chat .chat-send {
  z-index: 10;
  left: 70px;
  position: relative;
  bottom: 10px;
}